* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.btn-group {
  display: flex;
}

.btn {
  width: 80px;
  height: 30px;
  margin: 10px;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: 700;
}

.btn:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.btn-react {
 background-color: #222222;
 color: #61DAFB;
}

.btn-angular {
 background-color: #B9002D;
 color: #fff;
}

.btn-vue {
  background-color: #31475E;
  color: #3EAF7C;
}